extends layout

block content
	h1= title
	p
		a(href="/add") Add a new XT Developer
	ul
		each XTEngineer in XTEngineers
			li
				span= XTEngineer.fullname
				br
				span= XTEngineer.empid
				br
				span= XTEngineer.emailid
				br
				span= XTEngineer.role
				br
				span= XTEngineer.manager
				br
				span= XTEngineer.doj
				br
				span= XTEngineer.technology
				br
				a(href="/delete/#{XTEngineer.empid}") Delete
