doctype html
mixin form
  form&attributes(attributes)
    block

mixin formparagroup(inputAttributes)
  p(class='group')
    label(for='#{inputAttributes.inputname}')
      | #{inputAttributes.labelText}
    input(type='#{inputAttributes.type}', name='#{inputAttributes.inputname}', id='#{inputAttributes.inputname}')
    block

mixin formlistgroup(inputAttributes)
  p(class='group')
    label(for='#{inputAttributes.inputname}')
      | #{inputAttributes.labelText}
    select(name='#{inputAttributes.inputname}', id='#{inputAttributes.inputname}')
      each val, index in inputAttributes.listOptions
        option(value='#{index}') #{val}
    block

mixin formsubmitbutton(inputAttributes)
  p(class='group')
    input(type='#{inputAttributes.type}', name='#{inputAttributes.inputname}', id='#{inputAttributes.inputname}')
    block

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul#books
      li
        a(href="/") Home
      li
        a(href="/developers") XT Developers
      li
        a(href="/search") Search
    block content
    p footer message
